/*
===========================================================================
FILE NAME : stylesheet.cs
FILE TYPE : CASCADING STYLE SHEET
PURPOSE : ADDS BASIC DESIGN ELEMENTS TO THE CFHML TAGS OF REGISTRATION PAGE
DATE CREATED : 03/08/2016
TIME CREATED : 4:02PM
CREATED BY : Abhijit Mohanty
===========================================================================
*/

body 
{
	font-family:Verdana;
	color:black;
	background-color:gray;
	
}
span
{
	color:red;
	position:relative;
}
#inputarea 
{
	width:80% ;
	margin-left:150px;
	align:center;
	text-align:left;
	background-color:rgb(230,236,236);
	padding:10px;
}
form
{
	text-align:center;
	
}
input
{
	align:center;
	
}
.textboxes
{
	background-color:white;
}

#top_area
{
	
	padding:10px;
	
}
      
form label 
{
	display:inline-block; width:140px;
}

.all_buttons
{
	background-color:black;
	color:white;
}
           

h1
{
	text-align:center;
	margin-left:80px;
	color:black;
}
#red_span
{
	color:red;
	margin-left:75%;
}
#addr
{
	height:50px;
	
}

.red_color
{
	color:red;
}

#image
{
	display:block;
	align:center;
	margin-left:auto;
	margin-right:auto;
	padding:30px;
}
